version:  '3.8'
services:
  backend:
    build: ../backend
    container_name: backend
    ports:
      - "5000:5000"
    networks:
      - log-analyzer-network

  frontend:
    build: ../frontend
    container_name: frontend
    ports:
      - "5173:5173"
    networks:
      - log-analyzer-network

networks:
  log-analyzer-network:
    driver: bridge